<div layout="row" layout-fill>
  <div layout="column" flex style="max-width: 400px;">
    <md-content layout="column" style="padding:12px">

      <h1 style="margin-top:0;margin-bottom:6px">Simple Test Networks</h1>
      <small><em>By <a href="https://twitter.com/jacomyma">@jacomyma</a>. Based on <a href="https://graphology.github.io/">Graphology</a>.</em></small>

      <br>

      <md-input-container>
        <label>Nodes (some generators may add more)</label>
        <input type="number" ng-model="nodes">
      </md-input-container>

      <md-radio-group ng-model="generator">

        <md-radio-button value="clique">Clique</md-radio-button>
        <md-radio-button value="stable">Stable</md-radio-button>
        <md-radio-button value="star">Star</md-radio-button>
        <md-radio-button value="chain">Chain</md-radio-button>
        <md-radio-button value="circle">Circle</md-radio-button>
        <md-radio-button value="sqlattice">Square Lattice</md-radio-button>
        <md-radio-button value="trilattice">Triangular Lattice</md-radio-button>
        <md-radio-button value="clique2-bridge1">2 Cliques + Bridge</md-radio-button>
        <md-radio-button value="clique3-bridge1">3 Cliques + Bridges</md-radio-button>
        <md-radio-button value="clique5-bridge1">5 Cliques + Bridges</md-radio-button>
        <md-radio-button value="clique2-bridge5">2 Cliques + 5 bridges</md-radio-button>
        <md-radio-button value="star2-bridge">2 Stars + Bridge</md-radio-button>
        <md-radio-button value="star3-bridge">3 Stars + Bridges</md-radio-button>
        <md-radio-button value="star5-bridge">5 Stars + Bridges</md-radio-button>
        <md-radio-button value="lattice2-bridge">2 Lattices + Bridge</md-radio-button>
        <md-radio-button value="lattice5-bridge">5 Lattices + Bridges</md-radio-button>
        <md-radio-button value="random-75">Random 75% chance</md-radio-button>
        <md-radio-button value="random-50">Random 50% chance</md-radio-button>
        <md-radio-button value="random-25">Random 25% chance</md-radio-button>
        <md-radio-button value="random-5">Random 5% chance</md-radio-button>
        <md-radio-button value="random-1">Random 1% chance</md-radio-button>
        <md-radio-button value="SBM2-99-99">2 blocks Pin=99.99% Pout=0.01%</md-radio-button>
        <md-radio-button value="SBM2-99-9">2 blocks Pin=99.9% Pout=0.1%</md-radio-button>
        <md-radio-button value="SBM2-99">2 blocks Pin=99% Pout=1%</md-radio-button>
        <md-radio-button value="SBM2-95">2 blocks Pin=95% Pout=5%</md-radio-button>
        <md-radio-button value="SBM2-90">2 blocks Pin=90% Pout=10%</md-radio-button>
        <md-radio-button value="SBM2-80">2 blocks Pin=80% Pout=20%</md-radio-button>
        <md-radio-button value="SBM2-70">2 blocks Pin=70% Pout=30%</md-radio-button>
        <md-radio-button value="SBM2-60">2 blocks Pin=60% Pout=40%</md-radio-button>
        <md-radio-button value="SBM5-99-99">5 blocks Pin=99.99% Pout=0.01%</md-radio-button>
        <md-radio-button value="SBM5-99-9">5 blocks Pin=99.9% Pout=0.1%</md-radio-button>
        <md-radio-button value="SBM5-99">5 blocks Pin=99% Pout=1%</md-radio-button>
        <md-radio-button value="SBM5-95">5 blocks Pin=95% Pout=5%</md-radio-button>
        <md-radio-button value="SBM5-90">5 blocks Pin=90% Pout=10%</md-radio-button>
        <md-radio-button value="SBM5-80">5 blocks Pin=80% Pout=20%</md-radio-button>
        <md-radio-button value="SBM5-70">5 blocks Pin=70% Pout=30%</md-radio-button>
        <md-radio-button value="SBM5-60">5 blocks Pin=60% Pout=40%</md-radio-button>


      </md-radio-group>

    </md-content>
  </div>
  <div layout="row" layout-align="center center" flex style="background-color: #FFF">
    <div layout-fill ng-if="g">
      <sigma-network
        layout-fill
        layout="column"
        g="g"
      ></sigma-network>
    </div>
    <div ng-if="!g">Generating network...</div>
  </div>
</div>